@page
@model What2Play_Presentation.Pages.HomeModel

<h2>Games</h2>

@if (Model.Games != null && Model.Games.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Source</th>
                <th>Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Description</td>
                    <td>@game.Type</td>
                    <td>@game.Source</td>
                    <td>@(game.Played ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No games found.</p>
}

<hr />
